.letra{
    font-family: Comic Sans MS;
}
.p{
    text-align: center;
}

.imagen-1{
    width: 100%;
    height: 500px;
}

.button{
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
}

.container{
    border-radius: 20px;
    max-width: 400px;
    padding: 20px; 
    width: 90%;
}

.mb-3{
    padding: 1%; 
}


